<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Log on to SmittenKitten</h1>
    <form method="POST">
        <input class="form-control" name = "userName" type = "text" id="userName" />git commit -am ""
        <input class="form-control" name = "password" type = "password" id="password" />
        <input type="submit" value="Log on" />
    </form>
</body>
</html>