<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>
<form method="post" style="max-width:600px;" th:object="${user}">
    <div class="form-group">
        <label th:for="name">Email Address:</label>
        <input class="form-control" th:field="*{email}" />
    </div>
    <select name="environment">
        <option th:each="envOpt : ${environments}"
                th.value="${envOpt.ordinal}" th.text="${envOpt.getDisplayValue()}"></option>
    </select>
    <input type="submit" value="Register" />

</form>
</body>
</html>