<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${user.name}">user details</h1>
<table class="table">
    <tr>
        <td>Email</td>
        <td th:text="${user.email}"></td>
    </tr>
    <tr>
        <td>Location</td>
        <td th:text="${user.location}"></td>
    </tr>
    <tr>
        <td>Age</td>
        <td th:text="${user.age}"></td>
    </tr>
    <tr>
        <td>Gender</td>
        <td th:text="${user.gender}"></td>
    </tr>
    <tr>
        <td>Fertility</td>
        <td th:text="${user.fertility}"></td>
    </tr>
    <tr>
        <td>Preferred environment</td>
        <td th:text="${user.environment}"></td>
    </tr>
    <tr>
        <td>Likes</td>
        <td th:text="${user.likes}"></td>
    </tr>
    <tr>
        <td>Dislikes</td>
        <td th:text="${user.dislikes}"></td>
    </tr>
</table>
</body>
</html>